<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ helper.custom_link('css/index.css') }}" />
</head>
<body>
<h2>Base template</h2>
{% block head %}{% endblock %}

</body>
</html>
<!doctype html>