{% extends "layouts/base.twig" %}

{% block head %}
    {{ helper.custom_link('js/index.js') }}
<h2>Profile</h2>
    <a href="{{ helper.redirect('/') }}">Index</a>
<script src="{{ helper.custom_link('js/index.js')}}"></script>
{% endblock %}