<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>medical</title>
		{{ include('/user/components/head.twig') }}
		<style>
			html,
			body {
				height: 100%;
			}

			body {
				display: -ms-flexbox;
				display: -webkit-box;
				display: flex;
				-ms-flex-align: center;
				-ms-flex-pack: center;
				-webkit-box-align: center;
				align-items: center;
				-webkit-box-pack: center;
				justify-content: center;
				background-color: #f5f5f5;
			}

			form {
				padding-top: 10px;
				font-size: 14px;
				margin-top: 30px;
			}

			.card-title {
				font-weight: 300;
			}

			.btn {
				font-size: 14px;
				margin-top: 20px;
			}

			.login-form {
				width: 320px;
				margin: 20px;
			}

			.sign-up {
				text-align: center;
				padding: 20px 0 0;
			}

			span {
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<!-- breadcrumb start-->
		<div class="card login-form">
			<div class="card-body">
				{% if(Session.hasFlash('errorForgotPass')) %}
					<div class="alert alert-danger">{{ session.getFlash('errorForgotPass') }}</div>
				{% endif %}
				{% if(Session.hasFlash('mail')) %}
					<div class="alert alert-success">{{ session.getFlash('mail') }}</div>
				{% endif %}
				<h3 class="card-title text-center">Forgot password</h3>
				<div class="card-text">
					<form method="get" action="{{ redirect('user/forgot-password') }}">
						<div class="form-group">
							<input type="email" class="form-control form-control-sm" placeholder="Enter your email address" name="email">
						</div>

						<button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
					</form>
				</div>
			</div>
		</div>

	</body>

</html>
