{% extends 'admin/components/base.twig' %}

{% block content %}
    <div id="app"></div>
{% endblock %}
{% block javascript %}
<script src="{{ createLink('js/dist/appointment.js')}}"></script>
{% endblock %}
