{% extends 'admin/components/base.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Contact Detail / <strong class="text-primary small">Nguyen
                                    Van A</strong></h3>
                        </div>
                        <div class="nk-block-head-content">
                            <a href="html/user-list-regular.html"
                               class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                        class="icon ni ni-arrow-left"></em><span>Back</span></a>
                            <a href="html/user-list-regular.html"
                               class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
                                        class="icon ni ni-arrow-left"></em></a>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                <div class="nk-msg">
                                    <div class="nk-msg-body bg-white profile-shown">
                                        <div class="nk-msg-head">
                                            <h4 class="title d-none d-lg-block">How to take care of covid patients at home</h4>
                                        </div><!-- .nk-msg-head -->
                                        <div class="nk-msg-reply nk-reply" data-simplebar="init">
                                            <div class="simplebar-wrapper" style="margin: 0px;">
                                                <div class="simplebar-height-auto-observer-wrapper">
                                                    <div class="simplebar-height-auto-observer"></div>
                                                </div>
                                                <div class="simplebar-mask">
                                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                        <div class="simplebar-content-wrapper" tabindex="0"
                                                             role="region" aria-label="scrollable content"
                                                             style="height: 100%; overflow: hidden scroll;">
                                                            <div class="simplebar-content" style="padding: 0px;">
                                                                <div class="nk-reply-item">
                                                                    <div class="nk-reply-header">
                                                                        <div class="user-card">
                                                                            <div class="user-avatar sm bg-pink">
                                                                                <span>ST</span>
                                                                            </div>
                                                                            <div class="user-name">Nguyen Van A
                                                                                <span>(nguyenvana@mail.com - 0123456789)</span></div>
                                                                        </div>
                                                                        <div class="date-time">15 Jan, 2020</div>
                                                                    </div>
                                                                    <div class="nk-reply-body">
                                                                        <div class="nk-reply-entry entry">
                                                                           <p>Please guide me how to take care of covid patients at home</p>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- .nk-reply-item -->
                                                                <div class="nk-reply-form">
                                                                    <div class="nk-reply-form-header">
                                                                        <ul class="nav nav-tabs-s2 nav-tabs nav-tabs-sm">
                                                                            <li class="nav-item">
                                                                                <a class="nav-link active"
                                                                                   data-toggle="tab"
                                                                                   href="#reply-form">Reply</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane active"
                                                                             id="reply-form">
                                                                            <div class="nk-reply-form-editor">
                                                                                <div class="nk-reply-form-field">
                                                                                        <textarea
                                                                                                class="form-control form-control-simple no-resize"
                                                                                                placeholder="Hello"></textarea>
                                                                                </div>
                                                                                <div class="nk-reply-form-tools">
                                                                                    <ul class="nk-reply-form-actions g-1">
                                                                                        <li class="mr-2">
                                                                                            <button class="btn btn-primary"
                                                                                                    type="submit">
                                                                                                Reply
                                                                                            </button>
                                                                                        </li>
                                                                                        <li>
                                                                                            <div class="dropdown">
                                                                                                <a class="btn btn-icon btn-sm btn-tooltip"
                                                                                                   data-toggle="dropdown"
                                                                                                   title="" href="#"
                                                                                                   data-original-title="Templates"><em
                                                                                                            class="icon ni ni-hash"></em></a>
                                                                                                <div class="dropdown-menu">
                                                                                                    <ul class="link-list-opt no-bdr link-list-template">
                                                                                                        <li class="opt-head">
                                                                                                            <span>Quick Insert</span>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#"><span>Thank you message</span></a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#"><span>Your issues solved</span></a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#"><span>Thank you message</span></a>
                                                                                                        </li>
                                                                                                        <li class="divider">
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#"><em
                                                                                                                        class="icon ni ni-file-plus"></em><span>Save as Template</span></a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#"><em
                                                                                                                        class="icon ni ni-notes-alt"></em><span>Manage Template</span></a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="btn btn-icon btn-sm"
                                                                                               data-toggle="tooltip"
                                                                                               data-placement="top"
                                                                                               title="" href="#"
                                                                                               data-original-title="Upload Attachment"><em
                                                                                                        class="icon ni ni-clip-v"></em></a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="btn btn-icon btn-sm"
                                                                                               data-toggle="tooltip"
                                                                                               data-placement="top"
                                                                                               title="" href="#"
                                                                                               data-original-title="Insert Emoji"><em
                                                                                                        class="icon ni ni-happy"></em></a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="btn btn-icon btn-sm"
                                                                                               data-toggle="tooltip"
                                                                                               data-placement="top"
                                                                                               title="" href="#"
                                                                                               data-original-title="Upload Images"><em
                                                                                                        class="icon ni ni-img"></em></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div><!-- .nk-reply-form-tools -->
                                                                            </div><!-- .nk-reply-form-editor -->
                                                                        </div>
                                                                        <div class="tab-pane" id="note-form">
                                                                            <div class="nk-reply-form-editor">
                                                                                <div class="nk-reply-form-field">
                                                                                        <textarea
                                                                                                class="form-control form-control-simple no-resize"
                                                                                                placeholder="Type your private note, that only visible to internal team."></textarea>
                                                                                </div>
                                                                                <div class="nk-reply-form-tools">
                                                                                    <ul class="nk-reply-form-actions g-1">
                                                                                        <li class="mr-2">
                                                                                            <button class="btn btn-primary"
                                                                                                    type="submit">
                                                                                                Add Note
                                                                                            </button>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="btn btn-icon btn-sm"
                                                                                               data-toggle="tooltip"
                                                                                               data-placement="top"
                                                                                               title="" href="#"
                                                                                               data-original-title="Upload Attachment"><em
                                                                                                        class="icon ni ni-clip-v"></em></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                    <div class="dropdown">
                                                                                        <a href="#"
                                                                                           class="dropdown-toggle btn-trigger btn btn-icon mr-n2"
                                                                                           data-toggle="dropdown"><em
                                                                                                    class="icon ni ni-more-v"></em></a>
                                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                            <ul class="link-list-opt no-bdr">
                                                                                                <li>
                                                                                                    <a href="#"><span>Another Option</span></a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#"><span>More Option</span></a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div><!-- .nk-reply-form-tools -->
                                                                            </div><!-- .nk-reply-form-editor -->
                                                                        </div>
                                                                    </div>
                                                                </div><!-- .nk-reply-form -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .nk-reply -->
                                    </div><!-- .nk-msg-body -->
                                </div>
                            </div><!-- .card-content -->
                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
{% endblock %}
