<div class="nk-block-head-content">
    <a href="javascript:void(0)"
       class="btn btn-outline-light bg-white d-none d-sm-inline-flex js-btn-back"><em
            class="icon ni ni-arrow-left"></em><span>Back</span></a>
    <a href="javascript:void(0)"
       class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none js-btn-back"><em
            class="icon ni ni-arrow-left"></em></a>
</div>
